*{
    font-size: 16px;

    --White-: hsl(0, 0%, 100%);
    --Light_gray-: hsl(212, 45%, 89%);
    --Grayish_blue-: hsl(220, 15%, 55%);
    --Dark_blue-: hsl(218, 44%, 22%);
}

.block{
    display: block;
    margin: auto auto;
}

.center-panel{
    background-color: aqua;
    height: 50%;
    width: 50%;
}

.center-text{
    text-align: center;
}

.text-bold{
    font-weight: 100;
    font-size: 1.5rem;
}

#QR{
    width: 15%;
    height: 15%;
    border-radius: 20%;
    padding: 20px;
}